.task-1 {
    margin: 30px;

}

.input-form {
    display: flex;
    width: 30%;
    column-gap: 10px;


}

.input-text {
    display: flex;
    flex-direction: column;


}

#input {
    margin-top: 5px;
}

.btn {
    align-self: flex-end;
    color: green;
    background-color: bisque;

}