.items-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;


    background-image: radial-gradient(circle at 20% 90%, #a97be2, #1f0839, #220219 75%, #fb19bb, #1d0222);
    font-family: 'Roboto';

}

.main_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 50px;
    row-gap: 50px;
    margin: 30px;
}


.cartoons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 250px;
    padding: 30px;
    border-radius: 50px;
    background-color: rgb(242, 242, 238);
    font-size: 13px;
}

.cartoons:hover {
    background-color: rgb(236, 236, 131);

    .link {

        background-image: radial-gradient(circle at 0% 75%, #b939cc, #fa40c5);
        font-weight: 600;

    }
}

section {
    text-indent: 20px;
    text-align: justify;
}

h1 {
    text-align: center;
    color: yellow;
}

h3 {
    text-align: center;
    color: blueviolet;
}


.picture {
    width: 100px;
    height: 100px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 30px;

    background-color: rgb(245, 216, 112);
    border-radius: 20px;
    border: 5px double rgb(250, 250, 250);
    text-decoration: none;
    color: black;
}