body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;

    align-items: center;
    justify-content: center;
    font-family: 'Roboto';

}

.our_food {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    row-gap: 30px;


    background-image: radial-gradient(circle at 0% 0%, #8da938, #d0ed9b 51%, #8da938);
    color: rgb(253, 255, 240);
    border-radius: 25px;

}


.some_food {
    display: flex;
    visibility: hidden;
    column-gap: 50px;


}

.sort {
    display: flex;
    flex-direction: column;
    row-gap: 20px;


}

.box {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

}


.visiable {
    visibility: visible;

}



.in-div {
    color: red;
}

.title {

    align-content: center;
    text-align: center;
    height: 15px;
    padding: 10px;
    min-width: 100px;

    background-color: #f3f4ef;
    color: #8da938;
    border-radius: 35px;
}

img {
    width: 60px;
}

#btn {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 500px;

    background-color: #6bb94c;
    color: rgb(249, 251, 249);
    border-radius: 35px;
    border: none;
}

#btn:hover {
    background-color: #fbfbf9;
    color: #8da938;
    cursor: pointer;
}

.show-all {
    align-content: center;
    text-align: center;
    height: 20px;
    padding: 10px;

    background-color: #f3f4ef;
    color: #8da938;
    border-radius: 35px;
}


.description {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    column-gap: 50px;

}

.none {
    display: none;
}